
#joshpage{
    display: none;
}

.user_profile{
	width: 40%;
	background-color: #ddd;
	border: solid 2px #333;
	display: inline-block;
	height: 450px;
	padding: 5px;
}

.inline-block{
	display: inline-block;
}

.li-title{
	display: inline-block;
	width: 80px;
	font-weight: bold;
}

#powerplantchart{
    display: none;
}

#powerplantChart{
    width: 155%;
    margin:auto;
}

.data-headline{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.lineContainer{
    padding-bottom: 10px;
}

#pieChart{
    margin-left: -45px;
}

#outages-pie{
    margin-left: -45px;
}

.data-title{
    font-weight: 0.9em;
    COLOR: #777;
    display: inline-block;
}

.data-point{
    display: inline-block;
}

.dataset-div{
    border: solid 1px #eee;
    padding: 5px;
}

.redpoint{
    font-weight: bold;
    color: firebrick;
}

.greenpoint{
    font-weight: bold;
    color: green;
}

.chartContainer{
    padding-top: 20px;
    border-top: solid 3px #ddd;
}

.pieTitle{
    position: relative;
    z-index: 90;
    width: 100%;
    text-align: center;
    margin-bottom: -30px;
    margin-left: -20px;
}

#map-container{
    min-height: 920px;
}

.user_data{
	height: 80%;
	width: 97%;
	background: #fff;
	margin: auto;
	position: relative;
	z-index: 90;
	border: solid 1px #ccc;
	margin-top: -30px;

}

.household_size{
	border: solid 1px #ccc;
	background: #eee;
	float: right;
	margin-top: 0px;	
	padding: 5px;
	display: inline-block;
}

.household_size h5{
	display: inline;
}

.household_images{
	display: inline;
}

.persona_child{
	height: 16px;
}

.persona{
	height: 25px;
}

.data_block{
	min-height: 80px;
	margin: auto;
	float: left;	
}
.house_data{
	width: 95%;
	PADDING: 5PX;
	border-bottom: solid 1px #eee;
}

ul{
	list-style-type: none;
}

.house_icon{
	float:right;
	height: 35px;
	margin-top: 0px;;
	display: inline-block;
}

.energy_data{
	width: 95%;
	border-bottom: solid 1px #eee;
}


.household_size img{
	display: inline-block;
}

.user_profile_spacer{
	width: 9%;
	display:inline-block;
}

.row-spacer{
	height: 20px;
}

.trendline_nest{
	display: inline-block;
	height: 10%;
	padding-left: 5%;
	float: left;
	width: 100%;
	margin-top: -90px;
}

.trendline_nest img{
	position: relative;
	z-index: 91; 
	width: 95%;
	margin: auto;
}

.profile_nest{

}

.profile_img{
	width:90px;
	margin-right: 15px;
	position: relative;
	z-index: 100;
}	

.profile_title{
	display: inline-block;
	font-size: 25px;
	text-align: right;
	font-weight: bold;
}

.house_details_list{
	margin-top: -35px;
	
}

.details_list{
	font-size: 0.8em;
}

#myModal{
	box-shadow: none;
	border: 0px;
	width: 80%;
	/* background-color: #eee; */
	display: none;
    -webkit-transform-origin: 0px 0px;
	opacity: 1; 
	-webkit-transform: scale(1, 1); 
	visibility: visible;
    top: 0px;
}

.reveal-modal{
	background-color: rgba(255,0,0,0.0);
}

/* Styles for signup panels */



.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel a{
  color: #fff;
}

.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.signup-panel .button {
  margin-left: 35%;
}

.newusers {
  background: #fff;
} 
