body{
     background-image: url('../images/background.jpg');
}

svg {
    font: 10px sans-serif;
    display: inline;
}

path{
    cursor: pointer;
}

circle{
    cursor: pointer;
}



.key path {
    display: none;
}

.key line {
    stroke: #000;
    fill: none;
    shape-rendering: crispEdges;
}

.key text {
    font-size: 10px;
}

.container {
    margin-top: 2em;
    border-color: #005A31;
    border-width: 5px;
    background-color: #fff;
}

/* TOWNS */
.town {
    fill: #eee;
}

.town-search {
    fill: #f00;
}

.town-hover {
    fill: #509e2f;
}

.town-zoom {
    fill: #509e2f;
}

.tab {
    width: 50%;
}

/* LEGEND STUFF*/
.legend-powerstation-percent {
    height:2em;
    font-size: 1em;
    padding: .25em 0 .5em .5em;
}


#legend svg{
    height: 160px;
}
line{
    fill: none;
    stroke: black;
}
.sidepanel {
    border: ;
}

.row {
    max-width:80rem;
}